// <The Project Name>
// Main Layout Styling
// - Author: Myth Digital

// Load fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
	overflow-x: hidden;
}

body {
	margin:0;
	font-weight:400;
	overflow-x: hidden;
	@apply font-body;

	&._noscroll {
		overflow: hidden;
	}
}

.img-container {
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		height: inherit;
		display: block;
		object-position: center;
		object-fit: cover;
	}
}